<div>
  <header class="cd-main-header">
    <a href="/" class="cd-logo"><i class="fa fa-cogs fa-fw"></i>&nbsp;&nbsp;Next OA</a>
    <a href="#0" class="cd-nav-trigger"><span></span></a>

    <nav class="cd-nav">
      <ul class="cd-top-nav">
        <li><a href="#0">Tour</a></li>
        <li><a href="#0">Support</a></li>
        <li class="has-children account">
          <a href="#0">
            <i class="fa fa-user fa-fw"></i>
            <!--<img src="img/cd-avatar.png" alt="avatar">-->
            Account
          </a>

          <ul>

            <li><a href="#0">My Account</a></li>
            <li><a href="#0">Edit Account</a></li>
            <li><a href="javascript:void (0)" ng-click="navbar.logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header> <!-- .cd-main-header -->

  <main class="cd-main-content">
    <nav class="cd-side-nav">
      <ul>
        <li class="cd-label">Main</li>
        <li class="has-children overview">
          <a href="#0"><i class="fa fa-pie-chart fa-fw"></i>&nbsp;&nbsp;Overview</a>

          <ul>
            <li><a href="#!/dinner">点餐</a></li>
            <li><a href="#!/time">估算</a></li>
            <li><a href="#0">预留项目</a></li>
          </ul>
        </li>
        <li class="has-children notifications active">
          <a href="#0"><i class="fa fa-bell fa-fw"></i>&nbsp;&nbsp;Notifications<span class="count">3</span></a>

          <ul>
            <li><a href="#0">预留项目</a></li>
            <li><a href="#0">预留项目</a></li>
          </ul>
        </li>

        <li class="has-children comments">
          <a href="#0"><i class="fa fa-commenting fa-fw"></i>&nbsp;Comments</a>

          <ul>
            <li><a href="#0">All Comments</a></li>
            <li><a href="#0">Edit Comment</a></li>
            <li><a href="#0">Delete Comment</a></li>
          </ul>
        </li>
      </ul>

      <ul>
        <li class="cd-label">Action</li>
        <li class="action-btn"><a href="#0">+ Button</a></li>
      </ul>
    </nav>

    <!--</div> &lt;!&ndash; .content-wrapper &ndash;&gt;-->
  </main> <!-- .cd-main-content -->
</div>
