<style>
  .item_content {
    width:85%;
    height:460px;
    margin: 15% auto;
  }
  .item_content ul  {
    list-style:none;
    padding:0;

  }
  .item_content ul li {
    width:31%;
    float: left;
    margin: 1%;
    border: 1px solid #666;
    box-shadow: #ddd 3px 3px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
  }

  .item_content .item_head {
    display: block;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    color: #999;
    font-size: 8rem;
  }

  .item_content .item {
    width: 100%;
    text-align: center;
    display: block;
    color: #333;
    position: relative;
    border-top: 1px dashed #333;
    bottom: 0;
    line-height: 1.6rem;
    padding: 1rem 0;
  }

  .item_content .item a {
    color: #333;
  }

  .item_content .item .title {
    font-weight: bold;
    font-size: 1.8rem;
  }
  .item_content .item .text {
    font-size: 1.4rem;
  }

  @media only screen and (max-width: 476px) {
    html{
      font-size: 4px;
    }
    .item_content .item .text {
      display: none;
    }
  }

  @media only screen and (min-width: 769px) {
    .item_content ul li {
      width: 23%;
    }
    .item_content {
      margin: 13% auto;
    }
  }
  @media only screen and (min-width: 1173px) {
    .item_content ul li{
      width:18%;
    }
    .item_content {
      margin: 11% auto;
    }
  }
  @media only screen and (min-width: 1560px) {
    .item_content ul li{
      width:14.6%;
    }
    .item_content {
      margin: 9% auto;
    }
  }
</style>
<div>
  <div class="item_container">
    <div class="item_content">
      <ul style="margin:0 auto">
        <li ng-repeat="link in datas">
          <a href="{{link.url}}" target="_blank">
            <div class="item_head">
              <img src="{{link.img}}" alt="title image" ng-show="link.img">
              <span ng-show="!link.img">{{link.title | limitTo:1}}</span>
            </div>
            <div class="item">
              <span class="title">{{link.title}}</span>
              <br>
              <span class="text">{{link.text}}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
